<p>
  {{'example-pipe works!' | titlecase | slice:0:7 | decorator:'**'}}
</p>

<p>
  {{fecha | date:'medium'}}
</p>

<p>
  {{fecha | date:'short'}}
</p>

<p>
  {{fecha | date:'dd-MM-yy'}}
</p>

<p>
  {{numero | number:'1.3-3'}}
</p>

<p>
  {{numero | currency:'GBP':'symbol-narrow':'1.3-3'}}
</p>

<p>
  {{numero | percent}}
</p>

<p>
  {{mensajes.length | i18nPlural: mensajesMapping}}
</p>

<p>
  {{usuario.sexo | i18nSelect: usuarioMapping}} {{usuario.apellido}}
</p>

<p>
  {{usuario | json}}
</p>