
<button (click)="passParam()">Pasar Param</button>

<p *ngIf="show; then verdadero else falso">
  directiva works!
</p>

<ng-template #verdadero>
  Show es verdadero
  <ul>
    <li *ngFor="let color of colors
    let i=index; let o=odd; let e=even; let l=last"
    [ngStyle]="{color: color}"
    [ngClass]="{'par': e && !l, 'impar': o && !l, 'ultimo': l}"
    [ngSwitch]="color">
      <span *ngSwitchCase="'blue'">Soy el color azul</span>
      <span *ngSwitchDefault>No soy el color azul</span>
      {{i}} - {{color}}</li>
  </ul>
</ng-template>

<ng-template #falso>
  Show es falso
</ng-template>